<!DOCTYPE html>
<%- include('includes/head') %>s
<body>
    <h3>Log In</h3>
    <main>
        <form action="/login" method = "POST">
            <%errors.forEach(error => {%>
            <p class = "notice"> <%= error %></p>
            <%}) %>
            <fieldset>
                <legend> LOG IN </legend>
                    <label for="username" > <small> Username </small> </label>
                    <input type="text" id="username" name="username" autocomplete="off" >

                    <label for="password" > <small> Password </small> </label>
                    <input type="password" id="password" name="password" autocomplete="off" >
                    
                    </br>
                    <button> LOG IN</button>
                
            </fieldset>
        </form>
    </main>
    <%- include('includes/footer') %>
    
</body>
</html>
